section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
}

aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 15px;
    border: 3px solid var(--bg-color-secondary);
    box-shadow: 0 0 10px var(--bg-color-secondary);
    margin: 20px 0 20px 20px;
    background-color: var(--primary-color);
}

h3 {
    display: flex;
    font-size: xx-large;
    border-bottom: 3px dashed var(--bg-color-secondary);
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.buttons button {
    width: 80%;
}

article {
    width: 60%;
    height: 100%;
}

@media (max-width: 600px) {
    section {
        flex-direction: column;
    }

    aside {
        margin-top: 50px;
        width: 80%;
    }

    h3 {
        font-size: 1.2em;
    }

    .buttons button {
        font-size: 0.7em;
    }
}