section {
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: var(--bg-color);
}

aside {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    width: 25%;
    height: 80%;
    border-radius: 5%;
    border: 3px solid var(--bg-color-secondary);
    box-shadow: 0 0 10px var(--bg-color-secondary);
    margin-left: 2%;
    background-color: var(--primary-color);
}

h3{
    display: flex;
    font-size: xx-large;
    border-bottom: 3px dashed var(--bg-color-secondary);
    height: 25%;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

article {
    width: 60%;
    height: 100%;
}