.line {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.line img {
    width: 3em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-welcome {
    margin-top: 6%;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-welcome article {
    width: 40vw;
    color: var(--text-color-black);
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
}

.home-welcome article h3 {
    margin: 0;
    font-size: 40px;
}

.home-welcome article p {
    margin: 0;
}

.home-welcome aside {
    display: flex;
    justify-content: center;
}

.home-welcome aside img {
    width: 30vw;
    border-radius: 8px;
    box-shadow: 5px 5px 20px grey;
}

.home-products {
    padding: 50px 0;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.home-products p {
    width: 82%;
}

@media (max-width: 600px) {
    .line img {
        width: 1em;
    }

    .home-welcome {
        flex-direction: column;
        gap: 50px;
    }

    .home-welcome article {
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .home-welcome article h3 {
        font-size: 1.5em;
        text-align: center;
    }

    .home-welcome article p {
        font-size: 0.8em;
    }

    .home-welcome aside img {
        width: 90%;
        justify-content: center;
    }

    .home-products {
        font-size: 0.8em;
    }

    .home-products button {
        font-size: 0.8em;
    }
}

@media (max-width: 484px) {
    .line img {
        width: 0.5em;
    }
}