section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.feedback {
    margin-top: 30px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;;
}

aside {
    display: flex;
    flex-direction: column;
    width: 40%;
}

h2 {
    font-size: 40px;
}

aside .info .info-item::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-right: 10px;
    background: var(--primary-color);
}

form .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
}

input,
textarea {
    font-family: 'MyFontTwo', serif;
    padding: 8px 15px;
    outline: 0;
    background: var(--bg-color);
    color: var(--text-color-secondary);
    border: 2px solid var(--bg-color-secondary);
    transition: var(--transition);
    font-size: 18px;
}

article textarea {
    height: 80px;
    resize: none;
}

label {
    cursor: default;
}

form {
    width: 100%;
}

article {
    width: 30%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quetions {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 50px;
}

.button button {
    border-radius: 0;
    width: 100%;
}

.button img {
    width: 15px;
}

.quetions .answer {
    padding: 10px;
    border-top: 1px solid #ccc;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.quetions .answer.visible {
    max-height: 500px;
    opacity: 1;
}

@media (max-width: 600px) {
    .feedback {
        flex-direction: column;
        align-items: center;
    }

    aside {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    article {
        width: 90%;
    }

    h2 {
        font-size: 1.4em;
    }

    .feedback p {
        text-align: justify;
        font-size: 0.8em;
    }

    form .input {
        font-size: 0.7em;
    }

    input,
    textarea {
        padding: 6px 10px;
        font-size: 1.2em;
    }

    form button {
        width: 100%;
        font-size: 0.7em;
    }

    .quetions {
        gap: 10px;
    }

    .button button {
        font-size: 0.7em;
    }

    .button img {
        width: 15px;
    }
}

@media (max-width: 376px) {
    h2 {
        font-size: 1.2em;
    }

    .feedback p {
        font-size: 0.7em;
    }

    input,
    textarea {
        padding: 4px 7.5px;
        font-size: 1em;
    }

    form button {
        width: 100%;
        height: 10%;
        padding-top: 1px;
        font-size: 0.7em;
    }
}