
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
    align-content: center;
    background-color: var(--bg-color);
    gap: 40px;
}

.catalog{
    margin-top: 6%;
    text-align: center;
    font-size: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    width: 100%;
    height: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--bg-color-secondary);
    box-shadow: 0 0 5px var(--bg-color-secondary);
    width: 75%;
    height: 90%;
    color: var(--text-color-secondary);
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    cursor: pointer;
}
.item img{
    width: 150px;
    border-radius: 10%;
}
.item p{
    font-size: x-large;
}
