@font-face {
    font-family: 'MyFont';
    src: url(../shrifts/Iglets/Iglets.ttf);
}

@font-face {
    font-family: 'MyFontTwo';
    src: url(../shrifts/Hero/Hero-Bold.ttf),
    url(../shrifts/Hero/Hero-Light.ttf),
    url(../shrifts/Hero/Hero-Regular.ttf);
}

:root {
    --primary-color: #FFD400;
    --primary-color-darker: #d6b200;
    --bg-color: #ffffff;
    --bg-color-secondary: #000000ff;
    --text-color: #eaeaea;
    --text-color-black: #333333;
    --text-color-hover: #7e7e7e;
    --transition: all 0.3s ease;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color-black);
    font-family: 'MyFontTwo', serif;
    font-size: 1.2em;
}

header {
    color: var(--text-color);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid var(--bg-color-secondary);
    box-shadow: 0 0 10px var(--bg-color-secondary);
    background: var(--bg-color-secondary);
    padding: 15px;
}

h1.logo {
    font-size: 3em;
    margin: 0;
    font-family: 'MyFont', serif;
}

header nav {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    font-size: 1em;
}

header nav a.active {
    color: var(--primary-color);
}

footer {
    color: var(--text-color);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color-secondary);
}

footer p:first-child {
    padding-left: 30px;
}

footer p:last-child {
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s ease;
}

a:hover {
    color: var(--primary-color);
}

button {
    font-family: 'MyFontTwo', serif;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    color: var(--text-color-black);
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: large;
}

button:hover {
    box-shadow: 0 0 10px #d1d1d1;
}

button.secondary {
    background: var(--bg-color);
    border: 2px solid var(--bg-color);
    box-shadow: none;
}

button.secondary:hover {
    background: var(--primary-color);
    color: var(--bg-color);
}

button.third {
    background: var(--bg-color-secondary);
    color: var(--text-color);
    box-shadow: none;
    border: 2px solid var(--bg-color-secondary);
}

button.third:hover {
    background: var(--primary-color);
    color: var(--text-color-black);
}

p.total-price {
    margin: 0;
    font-size: 30px;
}

@media (max-width: 600px) {
    section {
        margin-top: 80px;
    }

    h1.logo {
        font-size: 1.7em;
    }

    header {
        flex-direction: column;
        gap: 20px;
    }

    header nav {
        gap: 15px;
        font-size: 0.7em;
    }

    header {
        padding-left: 5px;
    }

    footer h1.logo {
        font-size: 1.7em;
    }

    footer p {
        font-size: 0.7em;
    }
}

@media (max-width: 445px) {
    h1.logo {
        font-size: 1.2em;
    }

    header nav {
        font-size: 0.4em;
        gap: 15px;
    }

    header {
        padding-left: 5px;
    }
}